

h1{
     font-family: 'Inter', sans-serif;
  font-size: 29px;
  font-weight: 600;
  margin-left: 5px;
  color: #ffffff;
}
body{
    background-color: #1a1a1a;

}
.main{
    background-color: #1a1a1a;
    color:#fafafa;
    border: 1.5px solid black;
    border-radius: 26px;
     border-color: rgb(32, 32, 35);
    height: 86%;
    margin: 15px 15px;
    margin-top: 10px;
}

.outermost{
    background-color: #262626;
    border: 1px solid black;
    border-radius: 20px;
    border-color: rgb(63, 63, 66);
    margin: 130px 130px ;
    margin-top: 34px;
    height: 650px;

}
nav{
    background-color:#242424 ;
    border: 1.5px solid black;
    border-radius: 36px;
     border-color: rgb(83, 83, 84);
     display: flex;
     width: 32%;
     height: 50px;
     position: relative;
     left: 47%;
  margin-top: 20px;
}
nav ul{
    list-style-type: none;
    display: flex;
    gap:33px
}
.nav-link {
  position: relative;
  transition: color 0.25s ease;
  right: 17px;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease;
}

.nav-link:hover::after {
  transform: scaleX(1);
  
}
.nav-link:hover{
color: rgb(255, 255, 255);
}

.mainheader{
    display: flex;
    
}
.mainheader h1{
    position: relative;
    left: 20px;
    font-weight: 600px;
}



nav li a { 
     color: #c8c7c7;
      text-decoration: none;
     }

.top{
    background-color: #3d3d3d;
    width: 30%;
    height: 42px;
   margin-top: 1px;
     border: 1px solid black;
    border-radius: 7px;
    border-color: rgb(63, 63, 66);
    position: relative;
    left: 35%;
   bottom: 4.3px;
}

.circle{
    display: flex;
    gap: 13px;
    width:100px;
    height: 15px;
    
}
.circle div{
    background-color: #3d3d3d;
    width: 15%;
    height: 15px;
    border: 1px solid black;
    border-color: rgb(63, 63, 66);
    border-radius: 50%;
    position: relative;
    top: 36px;
    left: 25px;
}
.image{
width: 160px;
height: 160px;
overflow: hidden;
border: 1px solid black;
border-radius: 50%;
margin-left: 55px;
margin-top: 35px;
}
.image img{
position: relative;
right: 250px;
top: -130px;
}
.about h1{
    margin-left: 55px;
    
  font-family: 'Inter', sans-serif;
  font-size: 46px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: -0.025em;
  color: rgba(255, 255, 255, 0.92);
}



.dis{
    display: grid;
    grid-template-columns: 1.3fr 1.2fr;
    margin-left: 55px;
   
}
.dis p{
font-size: 15.6px;
font-family: 'Inter',sans-serif;
line-height: 1.7;
color: #c2bdbd;
position: relative;
top: -35px;


}
footer{
    position: relative;
    
}
.fade{
    color: #aeadad;
}
.f{
    color: #d7d7d7;
}

.g{
    color: #939393;
}
