<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Portfolio{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"> 
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">


</head>
<body>
<div class="outermost">
        <div class="circle">
            <div class="a"></div>
            <div class="b"></div>
            <div class="c"></div>
        </div>
        
      <div class="top"></div>
 <div class="main">
   <div class="mainheader"><h1>Manish Timsina</h1>
    <nav><ul>
            <li><a href="about" class="nav-link">About</a></li>
            <li><a href="/skills" class="nav-link">Skills</a></li>
            <li><a href="/projects" class="nav-link">Projects</a></li>
            
            <li class="dropdown"> <a href="#" class="nav-link">More </a> <ul class="dropdown-menu"> <li><a href="{{ url_for('static', filename='resume.pdf') }}" target="_blank"> <i class="fa-solid fa-file-pdf"></i> Resume </a></li> <li><a href="https://github.com/yourusername" target="_blank"> <i class="fa-brands fa-github"></i> GitHub </a></li> <li><a href="mailto:yourmail@gmail.com"> <i class="fa-solid fa-envelope"></i> Gmail </a></li>  <li>
      <a href="https://www.linkedin.com/in/yourprofile" target="_blank">
        <i class="fa-brands fa-linkedin"></i> LinkedIn
      </a>
    </li>
            
        </ul></nav></div><br>
{% block content %}
<div class="image"><img src="{{ url_for('static', filename='blackpp.jpg') }}"></div>
<div class="about"><h1>Hi, I'm <span class="f">Backe</span><span class="fade">nd Developer</span><span class="g"> and</span><br>
<span>3D Artist</span></h1></div>
<div class="dis"><p>I am a backend developer specializing in Flask, focused on building secure databases, APIs, and authentication systems, and I follow clean architecture and best practices to ensure long-term maintainability.</p></div>
{% endblock %}
</div>
    
    
</div>
<!--<li><a href="{{ url_for('static', filename='resume.pdf') }}" target="_blank" class="nav-link">Resume</a></li>-->


</body>
</html>
