{% extends "main.html" %} 
{% block title %}Skills - Portfolio{% endblock %} 
{% block content %}
<div class="main" id="main-container">
<div class="page" id="page">


<section class="skills-section">
  <h2 class="skills-title">Skills & Tools</h2>

  <div class="skills-grid">
    
  <span>Html</span>
      
    

    
      <span>CSS</span>
    

    
      <span>Flask</span>
   
      <span>FastAPI</span>
   
      <span>PostgreSQL</span>
    
      <span>MySQL</span>
    
      <span>AWS</span>
   

    
      <span>Docker</span>
    
      <span>Git</span>
   
      <span>GitHub</span>
    
  </div>
</section>
</div></div> 
{% endblock %}